<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <title>Accounting App</title>
  <meta charset="UTF-8">
     <!-- CSS file !-->
     <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
     <!-- Responsive !-->
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
     <!-- JS file !-->
 </head>
 <body>
    <!-- Section: Design Block -->
{#    <div class="container">#}
{#    <section class="d-flex align-items-center">#}
{#      <!-- Jumbotron -->#}
{#      <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%);top:60%">#}
{#        <div class="container">#}
{#          <div class="row gx-lg-5 align-items-center">#}
{#          <div class="row gx-lg-5">#}
{#            <div class="col-lg-6 mb-5 mb-lg-0">#}
{#              <h1 class="my-5 display-3 fw-bold ls-tight">#}
{#                The best offer <br />#}
{#                <span class="text-primary">for your business</span>#}
{#              </h1>#}
{#              <p style="color: hsl(217, 10%, 50.8%)">#}
{#                Lorem ipsum dolor sit amet consectetur adipisicing elit.#}
{#                Eveniet, itaque accusantium odio, soluta, corrupti aliquam#}
{#                quibusdam tempora at cupiditate quis eum maiores libero#}
{#                veritatis? Dicta facilis sint aliquid ipsum atque?#}
{#              </p>#}
{#            </div>#}
{##}
{#            <div class="col-lg-6 mb-5 mb-lg-0">#}
{#              <div class="card">#}
{#                <div class="card-body py-5 px-md-5">#}
{#                  {% block account_form %}#}
{#                  {% endblock %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div><!--/class: row gx-lg-5 -->#}
{#        </div><!--/class: container -->#}
{#      </div><!--/class: px4 py-5 ... -->#}
{#      <!-- Jumbotron -->#}
{#    </section>#}
{#    <!-- Section: Design Block -->#}
{#    </div>#}

     <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="border border-3 border-primary"></div>
            <div class="card bg-white">
              <div class="card-body p-5">
                  <!-- Login Form or Register Form -->
                  {% block account_form %}
                  {% endblock %}
{#                <form class="mb-3 mt-md-4">#}
{#                  <h2 class="fw-bold mb-2 text-uppercase ">Brand</h2>#}
{#                  <p class=" mb-5">Please enter your login and password!</p>#}
{#                  <div class="mb-3">#}
{#                    <label for="email" class="form-label ">Email address</label>#}
{#                    <input type="email" class="form-control" id="email" placeholder="name@example.com">#}
{#                  </div>#}
{#                  <div class="mb-3">#}
{#                    <label for="password" class="form-label ">Password</label>#}
{#                    <input type="password" class="form-control" id="password" placeholder="*******">#}
{#                  </div>#}
{#                  <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>#}
{#                  <div class="d-grid">#}
{#                    <button class="btn btn-outline-dark" type="submit">Login</button>#}
{#                  </div>#}
{#                </form>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>