<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <title>Accounting App</title>
  <meta charset="UTF-8">
     <!-- CSS file !-->
     <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
     <!-- Responsive !-->
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
     <!-- JS file !-->
 </head>
 <body>

     <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="border border-3 border-primary"></div>
            <div class="card bg-white">
              <div class="card-body p-5">
                  <!-- Login Form or Register Form -->
                  {% block account_form %}
                  {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
 </body>
</html>