{% extends "UserAuthentication/auth_base.html" %}
{% block account_form %}

  <form method="post" action="{% url 'expenses:login' %}">
    <h2 class="fw-bold mb-2 text-uppercase ">Login</h2>
    <p class=" mb-5">Please enter your username and password!</p>
    {% csrf_token %}
    <div class="form-outline">
      <label class="form-label" for="form3Example1">User Name</label>
      <input type="text" name="userid" id="form3Example1" class="form-control">
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form3Example4">Password</label>
      <input type="password" name="password" id="form3Example4" class="form-control">
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" value="Login">
      Login
    </button>
    <p class="mb-0  text-center">Don't have an account?
      <a href="{% url 'expenses:register' %}">Sign Up</a>
    </p>
  </form>

{% endblock %}
