{% extends "base.html" %}
{% load static %}
{% block contents %}

    <div class="content p-3">
        <h2>Analytics</h2>
        <div class="row">
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Summary Per Category</h5>
                  <div class="table-spacing">
                      <table class="table">
                        {% for category, total in summary_per_category.items %}
                        <tr>
                          <td class="col-md-6">{{category}}:</td>
                          <td class="col-md-6">{{total|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                      </table>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Summary Per Year-Month</h5>
                  <div class="table-spacing">
                    <table class="table">
                        {% for month_year, total in summary_per_year_month.items %}
                        <tr>
                          <td class="col-sm-6">{{month_year}}</td>
                          <td class="col-sm-6">{{total|floatformat:2}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="6">No items</td>
                        </tr>
                        {% endfor %}
                    </table>
                  </div>
                <h4 class="card-title">Total: {{ total_amount|floatformat:2}}</h4>
              </div>
            </div>
          </div>
            <div class="col">
                <div class="card mt-3">
                  <div class="card-body">
                      {% if summary_past_month %}
                        <div>
                            <canvas id="myLineChart" style="width: 100%; height: 240px;"></canvas>
                        </div>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div><!-- /row -->
    </div><!-- /content p-3 -->

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
        // Chart
        var ctx = document.getElementById("myLineChart");
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels:[
                  {% for date, _ in summary_past_month.items %}
                    '{{ date }}',
                  {% endfor %}
              ],
              datasets: [
                {
                  label: 'Expense',
                    data: [
                        {% for _, amount in summary_past_month.items %}
                          {{ amount }},
                        {% endfor %}
                    ],
                  borderColor: "rgba(255,0,0,1)",
                  backgroundColor: "rgba(0,0,0,0)",
                  lineTension: 0  // line
                },
              ],
            },
            options: {
              title: {
                display: true,
                text: 'Expense Cost for the Past 30 Days:',
                fontSize: 20,  // font size for the title,
                fontColor: "black",
              },
              scales: {
                yAxes: [{
                  ticks: {
                    display: false,
                    // maxTicksLimit: 1,  // display only maximum value
                    // stepSize: 10,
                    // callback: function(value, index, values){
                    //   return  value +  ''   // etc $, ￥, €
                    // }
                  }
                }]
              },
            }
          });

    </script>
{% endblock %}