{% extends "base.html" %}
{% load static %}
{% block contents %}

    <h1>Dashboard</h1>
    <h1>Hello, {{ user_account.user.username }} :)</h1>

    <a href="{% url 'expenses:expense-create' %}">Add Expense</a>
{#    <a href="{% url 'expenses:expense-create' %}">Add Expense</a>#}
    <form method="get" action="">
      {{form.as_p}}
      <button type="submit">search</button>
    </form>
    <br>
    <table border="1">
        <caption>Expenses</caption>
        <thead>
          <tr>
            <th>no.</th>
            <th>category</th>
            <th>name</th>
            <th>amount</th>
            <th>date</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>

        {% for obj in object_list %}
          <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
            <td>{{ obj.category|default:"-" }}</td>
            <td>{{ obj.name|default:"-" }}</td>
            <td>{{ obj.amount|floatformat:2 }}</td>
            <td>{{obj.date}}</td>
            <td>
                <a href="{% url 'expenses:expense-edit' userid.useraccount.random_url obj.id %}">edit</a>
            </td>
            </tr>
          {% empty %}
          <tr>
            <td colspan="5">no items</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "pagination.html" %}

    {# Display total amount spend #}
    <p>Total Amount Spend: {{ total_amount|floatformat:2}}</p>

    <hr>
    <table border="1">
      <caption>Summary per category</caption>
      <tr>
        {% for category, total in summary_per_category.items %}
        <tr>
            <td>{{category}}:</td>
            <td>{{total|floatformat:2}}</td>
        </tr>
        {% endfor %}
      </tr>
    </table>
    <table border="1">
    <caption>Summary per year-month</caption>
      <tr>
        {% for month_year, total in summary_per_year_month.items %}
            <tr>
                <td>{{month_year}}:</td>
                <td>{{total|floatformat:2}}</td>
            </tr>
        {% endfor %}
      </tr>
    </table>

{% endblock %}